<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>范米粒</title>
<link rel="stylesheet" type="text/css" href="<?php echo __ROOT__?>/public/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo __ROOT__?>/public/css/home.css"/>
</head>

<body>
<div class="container marketing">
	<div class="logo">
		<span class="icon-logo"></span>
    </div>
	<div class="row">
    	<div class="col-xs-offset-3 col-xs-6 col-md-offset-3 col-md-6">
        	<div class="row">
            	<div class="col-xs-12">
                	<p>[ 请选择您要代购的国家 ]</p>
                </div>
            </div>
        	<div class="row country">
            	<div class="col-xs-12">
                	<span class="glyphicon glyphicon-ok ok" aria-hidden="true"></span><lable>美国</lable>
                </div>
                <div class="col-xs-12">
                	<span class="ok"></span><lable>中国</lable>
                </div>
            </div>
            <div class="row footer">
            	<div class="col-xs-12">
                	<div class="wrap">
                        <span>进 入</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="<?php echo __ROOT__?>/public/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="<?php echo __ROOT__?>/public/js/bootstrap.js"></script>
<script type="text/javascript" src="<?php echo __ROOT__?>/public/js/js.js"></script>
</body>
</html>