<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>范米粒</title>
<link rel="stylesheet" type="text/css" href="../../../public/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="../../../public/css/style.css"/>
</head>
<body>
<div class="curtain"></div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    	<div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">触屏版导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
            	<span class="icon-logo hidden-xs"></span>
                <span class="icon-LOGO"></span>
            </a>
            <ul class="navbar-right nav navbar-nav">
                <li><a class="nav-search" href="javascript:;"><span class="glyphicon glyphicon-search hidden-xs"></span></a></li>
                <li><input type="submit" name="signin_submit" class="btn btn-primary" value="登录"></li>
                <li><a href="#" class="hidden-xs">注册</a></li>
            </ul>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav keep-center">
                <li><a href="#">母婴专区</a></li>
                <li><a href="#">美容彩妆</a></li>
                <li><a href="#">食品保健</a></li>
                <li><a href="#">服饰鞋包</a></li>
                <li><a href="#">数码家居</a></li>
                <li><a href="#">现场购物</a></li>
            </ul>
            <ul class="nav navbar-nav visible-xs sea">
                <li><a class="nav-search" href="#"><span class="glyphicon glyphicon-search"></span><span>搜索fnmili</span></a></li>
            </ul>
        </div>
        <div class="search-wrap">
        	<form>
            	<div class="searchform-wrap">
                	<input class="searchform-input" placeholder="Search fnmili.com" autofocus="autofocus" />
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
            </form>
            <aside>
            	<section>
                	<h3>Quick Links</h3>
                    <ul>
                    	<li><a href="#">Find a Store</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">iPod</a></li>
                        <li><a href="#">iOS</a></li>
                        <li><a href="#">Gift Cards</a></li>
                    </ul>
                </section>
            </aside>
        </div>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar hidden-xs">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="#">购物车</a>
                </li>
                <li>
                    <a href="#">订单历史</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-10 order-main">
            <ul>
                <li>所有订单</li>
                <li>求购中 <b class="hidden-xs">0</b></li>
                <li>待付款 <b class="hidden-xs">0</b></li>
                <li>待发货 <b class="hidden-xs">0</b></li>
                <li>已发货 <b class="hidden-xs">0</b></li>
                <li>已完成 <b class="hidden-xs">0</b></li>
            </ul>
            <div class="row bg visible-md visible-lg">
                <div class="col-md-6 center">商品</div>
                <div class="col-md-2 center">实付金额</div>
                <div class="col-md-1 center">重量</div>
                <div class="col-md-2 center">交易状态</div>
                <div class="col-md-1 center">操作</div>
            </div>
            <div class="row title">
                <div class="col-xs-2 visible-xs state">
                    待发货
                </div>
                <div class="col-md-10 col-xs-10 state2">订单号：<a href="#">160218415102313</a> <span class="hidden-xs">下单时间：</span>2016-02-18 16:40:06</div>
            </div>
            <div class="row content none-line">
                <div class="col-md-6 col-xs-12">
                    <div class="pro-wrap clearfix">
                        <a href="#"><img src="../../../public/images/baby/Aptamil/1.jpg" /></a>
                        <a href="#">
                            <h2>Aptamil 德国爱他美 婴儿奶粉 Pre段 800克Aptamil 德国爱他美 婴儿奶粉 Pre段 800克Aptamil 德国爱他美 婴儿奶粉 Pre段 800克</h2>
                            <h2>Aptamil 德国爱他美 婴儿奶粉 Pre段 800克Aptamil 德国爱他美 婴儿奶粉 Pre段 800克Aptamil 德国爱他美 婴儿奶粉 Pre段 800克</h2>
                        </a>
                        <p>数量：2</p>
                        <p class="visible-xs">单价：¥ 65.00</p>
                        <p class="visible-xs">重量：0.6磅</p>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6 center line"><span class="hidden-xs">¥ 99.00</span></div>
                <div class="col-md-1 center line hidden-xs">0.6磅</div>
                <div class="col-md-2 hidden-xs center middle">
                    <div class="wrap"><p>待发货</p><p><a href="#">订单详情</a></p></div>
                </div>
                <div class="col-md-1 col-xs-6 center line hidden-xs"><a href="#">取消</a></div>
            </div>
            <div class="row content">
                <div class="col-md-6 col-xs-12">
                    <div class="pro-wrap clearfix">
                        <a href="#"><img src="../../../public/images/baby/Aptamil/1.jpg" /></a>
                        <a href="#">
                            <h2>Aptamil 德国爱他美 婴儿奶粉 Pre段 800克Aptamil 德国爱他美 婴儿奶粉 Pre段 800克Aptamil 德国爱他美 婴儿奶粉 Pre段 800克</h2>
                            <h2>Aptamil 德国爱他美 婴儿奶粉 Pre段 800克Aptamil 德国爱他美 婴儿奶粉 Pre段 800克Aptamil 德国爱他美 婴儿奶粉 Pre段 800克</h2>
                        </a>
                        <p>数量：2</p>
                        <p class="visible-xs">单价：¥ 65.00</p>
                        <p class="visible-xs">重量：0.6磅</p>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6 center line"><span class="visible-xs">合计：¥ 99.00</span><span class="hidden-xs">¥ 99.00</span></div>
                <div class="col-md-1 center line hidden-xs">0.6磅</div>
                <div class="col-md-2 hidden-xs center middle">
                    <div class="wrap"><p>待发货</p><p><a href="#">订单详情</a></p></div>
                </div>
                <div class="col-md-1 col-xs-6 center line"><a href="#">取消</a></div>
            </div>
            <div class="row title">
                <div class="col-xs-2 visible-xs state">已发货</div>
                <div class="col-md-10 col-xs-10 state2">订单号：<a href="#">160218415102313</a> <span class="hidden-xs">下单时间：</span>2016-02-18 16:40:06</div>
            </div>
            <div class="row content">
                <div class="col-md-6 col-xs-12">
                    <div class="pro-wrap clearfix">
                        <a href="#"><img src="../../../public/images/baby/Aptamil/1.jpg" /></a>
                        <a href="#">
                            <h2>Aptamil 德国爱他美 婴儿奶粉 Pre段 800克Aptamil 德国爱他美 婴儿奶粉 Pre段 800克Aptamil 德国爱他美 婴儿奶粉 Pre段 800克</h2>
                            <h2>Aptamil 德国爱他美 婴儿奶粉 Pre段 800克Aptamil 德国爱他美 婴儿奶粉 Pre段 800克Aptamil 德国爱他美 婴儿奶粉 Pre段 800克</h2>
                        </a>
                        <p>数量：2</p>
                        <p class="visible-xs">单价：¥ 65.00</p>
                        <p class="visible-xs">重量：0.6磅</p>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6 center line"><span class="visible-xs">合计：¥ 99.00</span><span class="hidden-xs">¥ 99.00</span></div>
                <div class="col-md-1 center line hidden-xs">0.6磅</div>
                <div class="col-md-2 hidden-xs center middle">
                    <div class="wrap"><p>已发货</p><p><a href="#">订单详情</a></p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="widget">
                    <h2>范米粒 FNMILI</h2>
                    <a href="#">
                    	<img src="../../../public/images/qrcode/qrcode_qq.png" />
                        <p>范米粒QQ群</p>
                    </a>
                    <a href="#">
                    	<img src='../../../public/images/qrcode/qrcode_weibo.png' />
                        <p>范米粒微博</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
            	<div class="row">
                	<div class="col-md-3 col-sm-6 col-xs-6">
                        <dl>
                            <dt>参与</dt>
                            <dd><a href="#">关注我们的微博</a></dd>
                            <dd><a href="#">加入我们的Q群</a></dd>
                        </dl>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <dl>
                            <dt>常见问题</dt>
                            <dd><a href="#">为什么选择我们</a></dd>
                            <dd><a href="#">我们怎么运作的</a></dd>
                        </dl>
                    </div>
                	<div class="col-md-3 col-sm-6 col-xs-6">
                        <dl>
                            <dt>关于</dt>
                            <dd><a href="#">关于我们</a></dd>
                            <dd><a href="#">关于服务</a></dd>
                            <dd><a href="#">关于收费</a></dd>
                        </dl>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <dl>
                            <dt>收费标准与邮寄</dt>
                            <dd><a href="#">费用</a></dd>
                            <dd><a href="#">支付方式</a></dd>
                            <dd><a href="#">邮寄方式</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
    	<div class="row">
        	<div class="col-sm-12">
            	<p>Copyright (c) 2016 范米粒 FNMILI, All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../public/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="../../../public/js/bootstrap.js"></script>
<script type="text/javascript" src="../../../public/js/js.js"></script>
</body>
</html>