<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <title>旧金山湾区快递公司列表</title>
    <link href="<?php echo __PUB__?>/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="<?php echo __PUB__?>/lib/dotku/dist/css/general-cn.css" rel="stylesheet"/>
    <script src="<?php echo __PUB__?>/lib/angular/angular.js"></script>
    <script src="<?php echo __PUB__?>/lib/jquery/dist/jquery.min.js"></script>
    <script src="<?php echo __PUB__?>/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <style>
      .container{max-width: 1000px;}
    </style>
  </head>
  <body>
    <div class="container">
      <h1>旧金山湾区快递公司列表</h1>
      <h2>快递公司列表</h2>
      <table class="table">
        <tr>
          <th>快递公司</th>
          <th>官方网站</th>
          <th>区域</th>
          <th>价位</th>
          <th>备注</th>
        </tr>
        <tr>
          <td>美美快递公司</td>
          <td>http://www.meimeiexpress.com</td>
          <td>San Jose, 南湾</td>
          <td>28.78/磅</td>
          <td>主要面向港澳台的业务</td>
        </tr>
        <tr>
          <td>贝格斯国际速递</td>
          <td>http://www.pics-usa.com</td>
          <td>全南湾</td>
          <td>3/磅</td>
          <td>不包清关</td>
        </tr>
        <tr>
          <td>湾区快递中国香港</td>
          <td>http://www.vipexpressco.com/</td>
          <td>未知</td>
          <td>3/磅</td>
          <td>仅到货香港，需要身份证填写</td>
        </tr>

        <tr>
          <td>USITAO 美淘快递</td>
          <td>http://usitao.net</td>
          <td>全湾区</td>
          <td>7/磅</td>
          <td>礼拜四南湾，礼拜五旧金山</td>
        </tr>
        <tr>
          <td>QQEX</td>
          <td>http://www.qq-ex.com</td>
          <td>未知</td>
          <td>未知</td>
          <td>无客服</td>
        </tr>
        <tr>
          <td>飞洋快递</td>
          <td>http://www.fyex.us</td>
          <td>全湾区</td>
          <td>10/磅</td>
          <td>取件 10 USD</td>
        </tr>
        <tr>
          <td>天马迅达</td>
          <td>http://sf.expresstochina.com/</td>
          <td>旧金山</td>
          <td>6/磅</td>
          <td>Fremont 仓库，中通快递控股</td>
        </tr>
        <tr>
          <td>迅达国际物流</td>
          <td>http://www.cx-intl.com/</td>
          <td>未知</td>
          <td>未知</td>
          <td>未知</td>
        </tr>
        <tr>
          <td>远航快递</td>
          <td>http://www.aran-ex.com/</td>
          <td>Fremont</td>
          <td>5.5/磅</td>
          <td>周六上门收货</td>
        </tr>
        <tr>
          <td>速星快递</td>
          <td>http://www.orixstar.com</td>
          <td>San Jose</td>
          <td>$5/磅</td>
          <td>1 USD 比 6.5 RMB</td>
        </tr>
        <tr>
          <td>维一国际快递湾区分公司</td>
          <td>http://www.weiyiexpress.com</td>
          <td>旧金山</td>
          <td>未知收费</td>
          <td>无在线客服</td>
        </tr>
        <tr>
          <td>Q&K华人快递</td>
          <td>无网站</td>
          <td>唐人街</td>
          <td>未知收费</td>
          <td>无在线客服</td>
        </tr>
        <tr>
          <td>贝海国际速递</td>
          <td>http://www.xlobo.com</td>
          <td>Milpitas</td>
          <td>未知收费</td>
          <td>客服支持友好，无上门收件</td>
        </tr>
        <tr>
          <td>利达快递</td>
          <td>http://shiptocn.comm</td>
          <td>Fremont</td>
          <td>8USD/磅</td>
          <td>无在线客服</td>
        </tr>
      </table>
      <h3>备注信息</h3>
      <ul>
        <p>* 收件信息以旧金山城市为准</p>
      </ul>
      <h3>参考资料</h3>
      <ul>
        <li><a href="http://an-liu.cn/tips/post/6896.html">http://an-liu.cn/tips/post/6896.html</a></li>
      </ul>
    </div>
  </body>
</html>
