<?php if (in_array('待付款', $array_status_name)) { ?>
    <div class="row title">
      <div class="col-xs-2 visible-xs state">
        <?php echo $val['status_name']; ?>
        <?php $currentStatus = $val['status_name']; ?>
      </div>
      <!--div class="col-md-10 col-xs-10 state2">订单号：<a href="#">160218415102313</a> <span class="hidden-xs">下单时间：</span>2016-02-18 16:40:06</div-->
    </div>
    <div class="row content">
  <?php $total = 0; ?>

  <?php foreach($output['entry'] as $key => $val) { ?>
    <?php if($val['status_name'] == '待付款') { ?>
      <div class="col-md-6 col-xs-12">
        <div class="pro-wrap clearfix">
          <a href="#"><img height="80" src="<?php echo $gearGoods->getImageURL($val['goods_id']); ?>"/></a>
          <a href="#"><h2><?php echo $val['goods_name']?></h2></a>
          <div class="visible-xs">Price: $ <?php echo number_format($val['goods_unit_price'], 2) ?></div>
          <div class="visible-xs">Weight: <?php echo number_format($val['goods_unit_weight'], 2) ?> lb.</div>
          <div class="visible-xs">Units: <?php echo $val['goods_number'] ?></div>
          <div class="visible-xs pull-right">
          $ <?php echo number_format($val['goods_unit_price'], 2) ?>
          </div>
        </div>
      </div>
      <?php $total += $val['goods_number'] * $val['goods_unit_price']; ?>
    <?php } ?>
  <?php } ?>
  <?php $total = number_format($total, 2); ?>
  <div class="col-md-2 col-xs-6 center line">
      <span class="visible-xs">合计：$ <span class="total"><?php echo $total ?></span></span>
      <p class="hidden-xs">合计：$ <span class="total"><?php echo $total ?></span></p></div>
    </div>
<?php } ?>