<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>发展日志</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/dotku/dist/css/general-cn.css" rel="stylesheet"/>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>发展日志</h1>
      <p>范米粒的发展日志</p>
      <h2>2016 年 1 月</h2>
      <ul>
        <li>制作求购页面</li>
        <li>调整了首页手机版的自适应 (仅测试了 iPhone 6)</li>
        <li>制作了计算器</li>
        <li>搭建了网站</li>
        <li>创建了Q群</li>
      </ul>
      <h2>2015 年 12 月</h2>
      <ul>
        <li>fnmili.com 域名创建 10 December 2015</li>
        <li>fnmili 筹备</li>
      </ul>
    </div>
  </body>
</html>
