      <header class="row">
        <div class="container-fluid">
          <h1 class="col-md-6" style="">收银台</h1>
          <div class="col-md-6 form-search">
            <form class="form-inline pull-right"
              style="display:flex; align-items: center; height: 79px">
              <div class="input-group">
              <input class="form-control">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default">搜索</button>
              </div>
              </div>
            </form>
          </div>
        </div>
        
        <div>
          <ol class="breadcrumb">
            <li><a href="<?php echo U('/Home/Index')?>">首页</a></li>
            <li class="active">收银台</li>
          </ol>
        </div>
      </header>