<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>收银台</title>
    <link href="<?php echo __ROOT__ ?>/public/css/base.css" rel="stylesheet"/>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/dpatch/dist/css/general-cn.css" rel="stylesheet"/>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <style>
      h1 {margin-bottom: 20px}
      h3 {margin-top: 10px; margin-bottom:0px;}
      h3+p {margin-bottom: 10px}
    </style>
  </head>
  <body ng-app="checkoutApp">
    <div class="container">

      <?php include T('inc.header');?>

      <!-- 
      <div class="container">
        <h2>相关产品推荐</h2>
        <ul class="inline">
          <li>产品1</li>...<li>产品6</li>
        </ul>
      </div>
      -->

      <div class="container-fluid" ng-controller="cartCtrl">
        <h2>购物车</h2>

        <div class="container-fluid">
          <div class="col-md-4" ng-show="!goods.length">
            <div class="thumbnail">车内无任何物品</div>
          </div>
        </div>

        <div class="container-fluid">

          <div class="text-right input-group">
            <div class="input-group-addon"><span>购物车</span></div>
            <input class="form-control" value="<?php echo $_SESSION['cart']['cart_key']?>" />
            <div class="input-group-btn">
              <button class="btn btn-default">复制</button>
              <button class="btn btn-default">更名</button>
              <button class="btn btn-default">前往</button>
            </div>
          </div>
          <p>* 您可以复制黏贴您的购物车，分享给其他人（让其他人代购，或者纯粹为了分享而分享）</p>
          <!-- / 购物车分享功能 -->

        <div class="col-md-12 thumbnail" ng-repeat="g in goods">

          <div class="col-md-3">
            <div class="">
              <img ng-src="{{g.image_file}}" width="100%">
            </div>
          </div>
          <div class="col-md-7">
              <div class="lead">
                <h3>{{g.goods_name_cn}}</h3>
                <small>{{g.goods_name}}</small>
              </div>
              <div>价　格: <span>{{g.unit_price | number:2}}</span> {{g.currency}}</div>
              <div ng-show="g.tax_rate > 0">税　率: <span>{{g.tax_rate | number:2}}</span> % 
                ({{g.tax_rate * g.unit_price / 100 | number:2}} {{g.currency}})</div>
              <div>重　量: <span>{{g.unit_weight | number:2}}</span> 磅</div>
              <div>数　量: <input 
                name="quantity" 
                value="1" 
                size="4"
                type="number"
                max="100"
                ng-model="g.quantity"
                style="border-radius: 4px; border: 1px solid #ccc; text-align: center; max-width: 50px"
                ng-change="updateReport($index)" /></div>
              <!-- div>来　源: <select><option>1</option><option>2</option><option>3</option></select></div>
              <div>供应商: <select><option>1</option><option>2</option><option>3</option></select></div-->
          </div>
          <div class="col-md-2 text-right">
            <button class="btn btn-xs btn-danger" ng-click="item_remove($index)">&times; 删除</button>
          </div>
        
        </div><!-- /item-list -->

        <div>
          <h2>相关产品推荐</h2>
          <div class="input-group">
            <input class="form-control" placeholder="查找产品快捷">
            <div class="input-group-btn">
              <button class="btn btn-default">搜索</button>
            </div>
          </div>
          
          <ul>
            <li>相关产品1</li>
            <li>相关产品1</li>
            <li>相关产品1</li>
            <li>相关产品1</li>
          </ul>
          <div style="margin: 20px auto; text-align: right">无发找到您想要相关产品？
            <a href="<?php echo U('request')?>"><button class="btn btn-default">提交产品请求</button></a></div>
        </div> <!-- /购物新增产品 -->
        </div>
      </div>

      <div class="container">
        <h2>收件地址</h2>
        <div class="col-md-8">
          <input class="form-control" placeholder="收件人">
          <input class="form-control" placeholder="联系方式 (手机 或 固定电话)">
          <input class="form-control" value="中国 (现仅面向中国)" readonly>
          <input class="form-control" placeholder="省份直辖市, eg 福建省" name="area_level_1">
          <input class="form-control" placeholder="城市市, eg 福州市" name="area_level_2">
          <input class="form-control" placeholder="区县乡街道地址" name="address_street">
          <input class="form-control" placeholder="邮编" name="zipcode">
        </div>
      </div><!-- /address -->

      <div class="container" ng-controller="shippingCtrl">
        <h2>运递方案</h2>
        <div class="container">
          <div class="col-md-4">
            <!--select 
              class="form-control"
              ng-options="sp as sp.company_name for sp in shipping_plan"
              name="shipping_id"
              ng-model="item"
              ng-change="shipping_update(item);"></select-->
          </div>
        </div>
        <div class="container">
          
          <div class="col-md-8 col-xs-12">
            <!--
            <div class="col-md-12">{{shipping_time_estimate}}</div>
            <div class="col-md-12">{{shipping_fee}}</div>
            <form class="col-md-4">
            <!- 身份证，暂时不需要的功能 ->
            <div class="sr-only">身份证(可能需要):<input type="file" class="pull-right col-md-5"></div>
            </form>
            -->

            <!-- 运递方案详情，默认下隐藏；用户不需要知道太多详情内容 -->
            <div ng-show="plan_detail">
              <pre>{{plan_detail}}</pre>
            </div>
          </div>
        </div>
      </div><!-- /shipping-plan -->

      <div class="row" ng-controller="reportCtrl">
        <div class="pull-right col-md-2 text-right">
          <div>{{total_price_item}}</div>
          <div>{{total_tax_value}}</div>
          <div>{{total_shipping_fee}}</div>
          <div>{{total_final}}<br/>
          (~ {{total_final_RMB}} 人民币)</div>
        </div>
        <div class="pull-right col-md-2">
          <div>总价格:</div>
          <div>消费税:</div>
          <div>运　费:</div>
          <div>结　算:</div>
        </div>
      </div><!-- /report-fee -->

      <div class="row" style="margin-top: 20px">
        <div class="pull-right col-md-2 text-right">
          <a href="<?php echo U('/payment');?>"><button class="btn btn-danger">付款</button></a>
        </div>
      </div>

      <?php include T('Common/footer');?>
    </div>
    <script>
      var __ROOT__ = '<?php echo __ROOT__; ?>';
      var goods_id = '<?php echo $_GET["goods_id"] ?>' || 0;
      var goods_quantity = '<?php echo $_GET["quantity"] ?>' || 0;
      console.log(goods_id);
    </script>
    <script src="<?php echo __ROOT__; ?>/public/js/Home/Checkout/angular-index.js"></script>
    <script src="<?php echo __ROOT__; ?>/public/js/Home/Checkout/jquery-index.js"></script>
  </body>
</html>