<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <title>旧金山湾区快递公司列表</title>
    <link href="<?php echo __PUB__?>/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="<?php echo __PUB__?>/lib/dotku/dist/css/general-cn.css" rel="stylesheet"/>
    <script src="<?php echo __PUB__?>/lib/angular/angular.js"></script>
    <script src="<?php echo __PUB__?>/lib/jquery/dist/jquery.min.js"></script>
    <script src="<?php echo __PUB__?>/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <style>
      .container{max-width: 1000px;}
    </style>
  </head>
  <body>
    <div class="container">
      <h1>日本转运公司列表</h1>
      <h2>快递公司列表</h2>
      <table class="table">
        <tr>
          <th>快递公司</th>
          <th>官方网站</th>
          <th>区域</th>
          <th>价位</th>
          <th>备注</th>
        </tr>
        <tr>
          <td>小手指</td>
          <td>http://www.xshouzhi.com/</td>
          <td>San Jose, 南湾</td>
          <td>28.78/磅</td>
          <td>主要面向港澳台的业务</td>
        </tr>
        
      </table>
      <h3>备注信息</h3>
      <ul>
        <p>* 收件信息以旧金山城市为准</p>
      </ul>
      <h3>参考资料</h3>
      <ul>
        <li><a href="http://an-liu.cn/tips/post/6896.html">http://an-liu.cn/tips/post/6896.html</a></li>
      </ul>
    </div>
  </body>
</html>
