<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>海外代购热卖品牌列表</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/dotku/dist/css/general-cn.css" rel="stylesheet"/>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>海外代购热卖品牌列表</h1>
      <ul>
        <li>Vans</li>
        <li>Godiva</li>
        <li>Little Remedies</li>
        <li>Vicks</li>
        <li>Nike</li>
        <li>FCB</li>
        <li>Columbia</li>
        <li>Philosophy</li>
        <li>Rolex</li>
        <li>Kipling</li>
        <li>Crocs</li>
        <li>kiehl's</li>
        <li>Sephora</li>
        <li>Gap</li>
        <li>Gucci</li>
        <li>Coach</li>
        <li>Jacklinks</li>
        <li>Gymboree</li>
        <li>UNIQLO</li>
        <li>Calvin Klein</li>
        <li>Levi's</li>
        <li>H&amp;M</li>
        <li>Dr. Marten</li>
        <li>Braun</li>
        <li>Culturelle</li>
        <li>Ddrops</li>
        <li>Philips</li>
        <li>Dr. Brown's</li>
        <li>medela</li>
        <li>Youth Code</li>
        <li>Child Life</li>
      </ul>
    </div>
  </body>
</html>
