<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>范米粒(fnmili.com) - 又一个美国代购服务</title>
    <link href="<?php echo __ROOT__ ?>/public/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="<?php echo __ROOT__ ?>/public/lib/dotku/dist/css/general-cn.css" rel="stylesheet"/>
    <script src="<?php echo __ROOT__ ?>/public/lib/angular/angular.js"></script>
    <script src="<?php echo __ROOT__ ?>/public/lib/jquery/dist/jquery.min.js"></script>
    <script src="<?php echo __ROOT__ ?>/public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <style>
        .container {max-width: 1200px;}
        @media only screen 
          and (min-device-width: 320px) 
          and (max-device-width: 736px) 
          and (-webkit-min-device-pixel-ratio: 3) { 
                body {margin-top: 70px;}
        }
        @media only screen 
          and (min-device-width: 375px) 
          and (max-device-width: 667px) 
          and (-webkit-min-device-pixel-ratio: 2) { 
            body {margin-top: 70px;}
        }
        
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top visible-xs-block">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">范米粒</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#what">## 关于</a></li>
            <li><a href="#why">## 为什么选择我们？</a></li>
            <li><a href="#how">## 我们怎么运作的？</a></li>
            <li><a href="#fee">## 费用与邮寄</a></li>
            <li><a href="#join">## 参与</a></li>
            <li><a href="#links">## 友情链接</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container">
    <div class="col-md-3 hidden-xs" style="position: fixed">
    <div class="col-md-9 col-xs-12">
        <h1>范米粒</h1>
        <p>又一个中美代购服务。</p>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>目录</h2></div>
            <div class="panel-body">
            # 范米粒
            <ul>
                <li><a href="#what">## 关于</a>
                    <ul>
                        <li>### 关于我们</li>
                        <li>### 关于服务</li>
                        <li>### 关于收费</li>
                    </ul>
                 </li>
                <li><a href="#why">## 为什么选择我们？</a></li>
                <li><a href="#how">## 我们怎么运作的？</a></li>
                <li><a href="#fee">## 费用与邮寄</a>
                    <ul>
                        <li>### 费用</li>
                        <li>### 支付方式</li>
                        <li>### 邮寄方式</li>
                    </ul>
                </li>
                <li><a href="#join">## 参与</a></li>
                <li><a href="#links">## 友情链接</a></li>
            </ul>
        </div>
        </div>
    </div>
    </div>
    <div class="col-md-9 pull-right">
        <div class="panel panel-default">
          <div class="panel-heading"  id="what" name="what"><h2>关于</h2></div>
          <div class="panel-body">
            <h3>关于我们</h3>
            <p>范米粒 (fnmili.com) 是一个美国代购服务小组，该小组是由两个软件工程师发起的。美国代购员 Jay 
            是硅谷一家公司的全栈开发工程师，中国代理 贾德荃 是福州的前端开发工程师。</p>
            <p>愿为您服务:)</p>
            <h3>关于服务</h3>
            <p>我们提供美国直邮服务，不定期（一般是周末）采集美国的现场产品，您可以<a 
            href="#joinin">加入到我们的 QQ 群</a>，参与我们的群互动，可以个人，或者小组预约直播现场代购，<s 
            ></s>或者现场外的代购求购。</p>
            <h3>关于收费</h3>
            <ul>
                <li>代购: 我们仅收产品 <span class="label label-danger">7%</span> 的服务费（不涉及税收、运费、关税、汇率等）。
                </li>
                <li>代刷: 由于不涉及包裹查收等步骤，代刷可以更低一些，我们的代刷服务收取 <span class="label label-danger">5%</span> 
                的服务费（不涉及税收、运费、关税、汇率等）。</li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading"><h2 id="why">## 为什么选择我们？</h2></div>
          <div class="panel-body">
            <ul>
                <li>作为车库项目，我们友好，您可以直接与我们的负责人联系；任何调整都可以商讨敲定。<s
                ></s>您在购物吗？不是的，您是参与一个创业项目，或许还是我们的 A 轮投资人！感受一<s 
                ></s>下硅谷创业的感觉，或许你我都将在互联网历史上留下点什么... 当然，您现在只需要愉快的购物就好：）</li>
                <li>虽然美亚等都有提供跨国直邮，不少美国商城也提供了线上购物国际直邮，但是，并不<s
                ></s>是全部，而且他们的运费价格依然不便宜；我们通过与本地的华人快递公司合作，特殊渠道<s
                ></s>可以帮助您通过更优惠的方式购买到产品（我说的不是非法产品）</li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading"><h2 id="how">## 我们怎么运作的？</h2></div>
          <div class="panel-body">
            <p>大数据？云计算？黑科技...？都不是，我们是与您互动，用心来驱动这个项目的前进。<s 
            ></s>有什么问题，就来我们群里聊聊 美国购物 Q群 324477797，不是微信群... 
            因为，我们有一些现场照片要分享。</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading"><h2>## 邀约 (2016/01/12)</h2></div>
          <div class="panel-body">
            <b>近期邀约 10/14/2016 10:00AM PST</b>
            <ul>
                <li>Walgreens 药房(保健品、婴儿辅食等)</li>
            </ul>
            <b>将要排期的</b>
            <ul>
                <li>母婴用品</li>
                <li>三叶草</li>
                <li>NB (New Balance)</li>
                <li>Coach (蔻驰)</li>
              </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading"><h2 id="fee">## 费用与支付</h2></div>
          <div class="panel-body">
            <p><span class="label label-danger">New</span> 
                我做了一个简单的计算器，如果你不喜欢看下面的文字，点击【<a href="/calc">计算器</a>】</p>
            <h3>### 费用</h3>
                
              <ul>
                <li>(物品价格 + 实时汇率) x 107% + 运费 (有包税和不包税渠道)</li>
              </ul>
              <h3>### 运费</h3>
              <p>我们并非物流公司，我们只是希望服务好我们的客户，所以不希望花更多的时间去处理物流，<s 
              ></s>专业术语一点叫做"物流优化"。我们精挑细选了几家合适的华人快递公司作为我们的物流服务商，<s 
              ></s>他们都比美国本地邮局要便宜 75 折以上，包括清关和不清关渠道。</p>
              <table class="table">
                <tr>
                    <th>清关包税渠道</th>
                <tr>
                    <td>
                        <ul>
                            <li>食品、保健品、婴儿用品、衣服、玩具、安全座椅等 4.5 / 磅</li>
                            <li>护肤品、化妆品、小电器 6.5 / 磅</li>
                            <li>Coach、MK、KS 等品牌包包 7 / 磅</li>
                            <li>不在上述列表中 7 / 磅</li>
                            <li>提供全美境内包括全球 218 个国家地区到门服务，价格是美国邮政的 75 折</li>
                        </ul>
                        <b>额外关税</b>
                        <ul>
                            <li>装品、眼镜、手表等 $100 一下补充关税 $2，$200 以下的关税 $6， $200 以上的按 3% 算</li>
                            <li>香水一瓶另交关税 $9</li>
                        </ul>
                    </td>
                </tr>
              </table>
              <table class="table">
                <tr>
                    <th>不清关不包税渠道</th>
                </tr>
                <tr>
                    <td>
                        <div>3 USD / 磅 (6 磅起计算)</div>
                        <b>无税清关方式</b>
                        <div>(*) 不清关渠道，有一定机率被关税，如果被关税，需要补交关税；由物流公司负责补税，无需客户前往。</div>
                    </td>
                </tr>
              </table>
              <h3>### 支付方式</h3>
              <ul>
                <li>淘宝 <a style="word-break: break-all;" href="https://item.taobao.com/item.htm?spm=686.1000925.0.0.cGLuG5&id=526279530562"><s
                ></s>https://item.taobao.com/item.htm?spm=686.1000925.0.0.cGLuG5&id=526279530562</a></li>
                <li>支付宝</li>
                <li>Paypal</li>
                <li>西联汇款</li>
                <li>中美银行汇款</li>
              </ul>
              <h3>### 邮寄方式</h3>
              <ul>
                <li>需要收件人的联系电话，地址 和 身份证 <br/>
                易燃易爆物品无法邮寄，非法物品（毒品，武器等...）也无法邮寄</li>
              </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading"><h2 id="join" name="join">## 参与</h2></div>
          <div class="panel-body">
            <ul>
                <li>微博: <a href="http://www.weibo.com/leyant">http://www.weibo.com/leyant</a></li>
                <li>点击链接加入群【美国购物】：<a href="http://jq.qq.com/?_wv=1027&k=XQvbCG">http://jq.qq.com/?_wv=1027&k=XQvbCG</a></li>
              </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading"><h2 id="links" name="links">## 友情链接</h2></div>
          <div class="panel-body">
            <ul class="list-unstyled">
                <li class="col-md-2"><a href="http://www.stonestowngalleria.com" class="thumbnail"><img src="http://www.stonestowngalleria.com/content/dam/ggp-digital-assets/Images/Mall-Images/Mall-Logos/Stonestown-Galleria-Black-Fill-Vector.svg/_jcr_content/renditions/original.svg" ></a></li>
                <li class="col-md-2"><a href="http://www.amazon.com/ref=as_li_ss_tl?_encoding=UTF8&camp=1789&creative=390957&linkCode=ur2&tag=soeasy-20&linkId=PPFAGDGI5FCKSRJE" class="thumbnail"><img src="http://media.corporate-ir.net/media_files/IROL/97/97664/images/amazon_logo_RGB.jpg" ></a></li>
            </ul>
          </div>
        </div>
        
        <footer class="footer" style="line-height: 40px;">
            &copy; 2016 范米粒 fnmili.com
        </footer>
        </div>
    </div>
  </body>
</html>