<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>更多排行榜</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/dotku/dist/css/general-cn.css" rel="stylesheet"/>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>更多排行榜</h1>
      <ul>
        <li>海贼小喵的博客 消费品排行榜 http://blog.sina.com.cn/s/articlelist_3267941773_2_1.html</li>
        <li>中国内地快速消费品前10名品牌排行榜 http://www.weste.net/2013/5-19/91468.html</li>
        <li>牌子网 http://paihang.paizi.com/14</li>
      </ul>
    </div>
  </body>
</html>
