<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>2012 世界奢侈品排行榜</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/dotku/dist/css/general-cn.css" rel="stylesheet"/>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>2012 世界奢侈品排行榜</h1>
      <pre>
NO1：世界奢侈品协会全球十大顶级时尚品牌

爱马仕（Hermes）
香奈儿（Chanel）
路易威登（Louis Vuitton）
克里斯汀·迪奥（Christian Dior）
菲拉格慕（Ferragamo）
范思哲（Versace）
普拉达（Prada）
芬迪（Fendi）
乔治·阿玛尼（Giorgio Armani）
杰尼亚（Ermenegildo Zegna）

NO2：世界奢侈品协会全球十大私人飞机品牌

湾流（Gulfstream）
庞巴迪（Bombardier）
达索（Dassault）
巴西航空（Embraer）
豪客比奇（Hawker Beechcraft）
赛斯纳（Cessna）
西锐（Cirrus）
欧直（Eurocopter）
贝尔（Bellhelicopter）
西科斯基（Sikorsky Aircraft）

NO3：世界奢侈品协会全球十大豪华游艇品牌

阿兹慕（Azimut）
圣汐克（Sunseeker）
法拉帝（Ferretti）
乐顺（Lurssen）
丽娃（Riva）
沃利（Wally）
公主（Princess）
博星（Pershing）
博纳多（Beneteau） 
意达马（Itama）

NO4：世界奢侈品协会全球十大豪华汽车品牌

劳斯莱斯（Rolls-Royce）   
宾利（Bentley）
法拉利（Ferrari） 
兰博基尼（Lamborghini）
玛莎拉蒂（Maserati）
阿斯顿马丁（Aston Martin）
布加迪（Bugatti）
世爵（Spyker）
帕格尼（Pagani）
柯尼赛格（Koenigsegg）

NO5：世界奢侈品协会全球十大皇室珠宝品牌

卡地亚（Cartier）
梵克雅宝（Van Cleef & Arpels）
宝诗龙（Boucheron）
海瑞温斯顿（Harry Winston）
尚美（Chaumet） 
卡洛伊巴特拉（Kloybateri）
宝格丽（Bvlgari）
万宝龙（Montblanc）
蒂芙尼（Tiffany&Co）
御木本（Mikimoto）

NO6：世界奢侈品协会全球十大顶级名表品牌

百达翡丽（Patek Philippe）
江诗丹顿（Vacheron Constantin）
伯爵（Piaget）
积家（Jaeger-Le Coultre）
爱彼（Audemars Piguet）
宝铂（Blancpain）
劳力士（Rolex）
宝玑（Breguet）
万国（IWC）
法兰克穆勒（Franck Muller）

NO7：世界奢侈品协会全球十大化妆品品牌

香奈儿（Chanel）
克里斯汀·迪奥（Christian Dior）
娇兰（Guerlain）
纪梵希（Givenchy）       
赫莲娜（Helena Rubinstein）
希思黎（Sisley）
莱珀妮（La Prairie）
海蓝之谜（La Mer）
兰蔻（Lancome）
碧欧泉 Biotherm

NO8：世界奢侈品协会全球十大烈酒与葡萄酒品牌

至尊马爹利（L'or De Jean Martell）
人头马路易十三（Louis XIII）
轩尼诗李察（Richard Hennessy）
帕图斯（Chateau Petrus Wine）
拉菲（Chateau Lafite Rothschild）
麦卡伦（Macallan）
麦瑞泰基（Meritage）
萨凯帕朗姆酒（Ron zacapa）
唐．培里侬香槟王（Dom Perignon）
巴黎之花（Perrier Jouet）

NO9：世界奢侈品协会全球十大度假酒店品牌

瓦卡亚俱乐部酒店（Wakaya Club）
塞舌尔北岛酒店 （North Island）
龟岛酒店 （Hotel Turtle Island）
弗雷格特岛酒店 （Fregate Island Private）
法属瓜德罗普岛酒店 （Hotel Le Toiny）
布尔吉．阿勒阿拉伯酒店 （Burj Al-Arab）
波西塔诺 （Le Sirenuse）
迪拜阿玛尼酒店 （Armani Hotel Dubai）
W 酒店 （W-Hotel-Puerto Rico）
安缦拉雅度假村（Amanraya）

NO10：世界奢侈品协会全球十大各国创新品牌

哈雷 戴维森（Harley Davidson）
博士音响（Bose）    
威图（Vertu）
罗特斯（Lotos）
斯坦威（Steinway）
博兰斯勒（Bluthner） 
赛格威电动车（Segway PT）
奥罗拉（Aurora）
太阳谷冰酒 （Sun Valley Icewine）
上下 （ShangXia）   
</pre>
    </div>
  </body>
</html>
