<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>范米粒</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
    	<div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">触屏版导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
            	<span class="icon-logo"></span>
                <span class="icon-LOGO"></span>
            </a>
            <ul class="navbar-right nav navbar-nav">
                <li><a class="nav-search" href="#"><span class="glyphicon glyphicon-search hidden-xs"></span></a></li>
                <li><input type="submit" name="signin_submit" class="btn btn-primary" value="登录"></li>
                <li><a href="#" class="hidden-xs">注册</a></li>
            </ul>
		</div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav keep-center">
                <li><a href="#">母婴专区</a></li>
                <li><a href="#">美容彩妆</a></li>
                <li><a href="#">食品保健</a></li>
                <li><a href="#">服饰鞋包</a></li>
                <li><a href="#">数码家居</a></li>
                <li><a href="#">现场购物</a></li>
            </ul>
            <ul class="nav navbar-nav visible-xs sea">
                <li><a class="nav-search" href="#"><span class="glyphicon glyphicon-search"></span><span>搜索fnmili</span></a></li>
            </ul>
        </div>
	</div>
</nav>
<div class="bread">
	<div class="container">
    	<ol class="breadcrumb">
			<li><a href="#">范米粒</a></li>
			<li><a href="#">大牌奶粉</a></li>
			<li class="active">德国爱他美</li>
        </ol>
    </div>
</div>
<div class="container pro-info">
	<div class="row">
    	<div class="col-md-6 col-xs-12">
        	<div class="ff-carousel">
            	<a href="javascript:;"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
                <a href="javascript:;"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                <div class="viewer">
                	<ul>
                    	<li><img src="images/baby/Aptamil/1.jpg" /></li>
                        <li><img src="images/baby/Aptamil/2.jpg" /></li>
                        <li><img src="images/baby/Aptamil/3.jpg" /></li>
                        <li><img src="images/baby/Aptamil/4.jpg" /></li>
                        <li><img src="images/baby/Aptamil/5.jpg" /></li>
                        <li><img src="images/baby/Aptamil/6.jpg" /></li>
                    </ul>
                </div>
            </div>
            <div class="controls hidden-xs">
            	<a href="javascript:;" class="disabled"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
                <a href="javascript:;"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
            	<div class="controls-wrap">
                	<div class="wrap">
                        <a href="javascript:;" class="active">
                        <img src="images/baby/Aptamil/1.jpg" /></a><a href="javascript:;">
                        <img src="images/baby/Aptamil/2.jpg" /></a><a href="javascript:;">
                        <img src="images/baby/Aptamil/3.jpg" /></a><a href="javascript:;">
                        <img src="images/baby/Aptamil/4.jpg" /></a><a href="javascript:;">
                        <img src="images/baby/Aptamil/5.jpg" /></a><a href="javascript:;">
                        <img src="images/baby/Aptamil/6.jpg" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
        	<div class="module-wrap">
            	<h1>Aptamil 德国爱他美 婴儿奶粉 Pre段 800克/罐 3罐装 0-3个月</h1>
				<p>适合0-3个月的宝宝，奶粉粉质细腻，口感清淡香醇，近似母乳的口感，很容易被宝宝接受，而且奶粉中添加了各种营养物质，给你家宝宝安心的营养，使你家宝宝健康成长每一天~~</p>
				<p>
					<span class="title">售价</span>
					<span class="price">$298.00</span> <strong class="promotionPrice">$155.00</strong>
					<span class="memberLabel">5.3折</span>
				</p>
				<p>
					<span class="title">促销</span>
					<span class="prt-title">直降</span>
					<span class="prt-desc">春节七天乐</span>
				</p>
				<p>
					<span class="title">关税</span>
					<span>本商品适用税率为<b>9%</b></span>
				</p>
				<p>
					<span class="title">数量</span>
					<span class="num-wrap">
						<a href="javascript:;" class="l-b dis">-</a>
						<input type="text" value="1" autocomplete="off">
						<a href="javascript:;" class="r-b">+</a>
					</span>
					<span class="tips">库存充足</span>
				</p>
				<div class="row">
					<div class="col-md-6">
						<a href="#" class="buyBtn">立即购买</a>
					</div>
					<div class="col-md-6">
						<a href="#" class="addCart">加入购物车</a>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/js.js"></script>
</body>
</html>