<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>范米粒</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
    	<div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">触屏版导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
            	<span class="icon-logo"></span>
                <span class="icon-LOGO"></span>
            </a>
            <ul class="navbar-right nav navbar-nav">
                <li><a class="nav-search" href="#"><span class="glyphicon glyphicon-search hidden-xs"></span></a></li>
                <li><input type="submit" name="signin_submit" class="btn btn-primary" value="登录"></li>
                <li><a href="#" class="hidden-xs">注册</a></li>
            </ul>
		</div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav keep-center">
                <li><a href="#">母婴专区</a></li>
                <li><a href="#">美容彩妆</a></li>
                <li><a href="#">食品保健</a></li>
                <li><a href="#">服饰鞋包</a></li>
                <li><a href="#">数码家居</a></li>
                <li><a href="#">现场购物</a></li>
            </ul>
            <ul class="nav navbar-nav visible-xs sea">
                <li><a class="nav-search" href="#"><span class="glyphicon glyphicon-search"></span><span>搜索fnmili</span></a></li>
            </ul>
        </div>
	</div>
</nav>
<div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators"></ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
          <a href="#"><img src="images/banner/1.jpg" alt="" data-holder-rendered="true" /></a>
        </div>
        <div class="item">
          <a href="#"><img src="images/banner/2.jpg" alt="" data-holder-rendered="true" /></a>
        </div>
        <div class="item">
          <a href="#"><img src="images/banner/3.jpg" alt="" data-holder-rendered="true" /></a>
        </div>
        <div class="item">
          <a href="#"><img src="images/banner/4.jpg" alt="" data-holder-rendered="true" /></a>
        </div>
        <div class="item">
          <a href="#"><img src="images/banner/5.jpg" alt="" data-holder-rendered="true" /></a>
        </div>
        <div class="item">
          <a href="#"><img src="images/banner/6.jpg" alt="" data-holder-rendered="true" /></a>
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-captions" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-captions" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container">
	<h2 class="in-title">购物商场</h2>
	<div class="row masonry-list">
    	<div class="col-xs-6 col-md-4 mode">
        	<a href="#">
            	<img src="images/market/1.jpeg" />
                <p>梅西百货(联合广场)</p>
                <p>Macy's(Union Square</p>
                <p>梅西百货是全球最大的百货商店，也是旧金山市的零售代表之一，时尚品牌品牌齐全</p>
            </a>
        </div>
        <div class="col-xs-6 col-md-4 mode">
        	<a href="#">
            	<img src="images/market/2.jpeg" />
                <p>吉尔罗伊奥特莱斯</p>
                <p>Gilroy Premium Outlets</p>
                <p>很不错的一个地方，而且价格也很好。</p>
            </a>
        </div>
        <div class="col-xs-6 col-md-4 mode">
        	<a href="#">
            	<img src="images/market/3.jpeg" />
                <p>西田旧金山中心</p>
                <p>Westfield San Francisco Shopping Centre</p>
                <p>旧金山购物中心5-9楼有号称全美服务最佳的百货公司。</p>
            </a>
        </div>
        <div class="col-xs-6 col-md-4 mode">
        	<a href="#">
            	<img src="images/market/4.png" />
                <p>Gilroy品牌直销广场</p>
                <p>Gilroy Premium Outlets</p>
                <p>大蒜城的奥莱在湾区是非常不错的奥莱了，面积非常大，适合一逛</p>
            </a>
        </div>
        <div class="col-xs-6 col-md-4 mode">
        	<a href="#">
            	<img src="images/market/5.jpeg" />
                <p>斯坦福购物中心</p>
                <p>Stanford Shopping Center</p>
                <p>建筑的样式比较有特色，闲逛的主要目的是在Apple Store蹭一下WiFi</p>
            </a>
        </div>
        <div class="col-xs-6 col-md-4 mode">
        	<a href="#">
            	<img src="images/market/6.png" />
                <p>萨克斯第五大道</p>
                <p>Saks Fifth Avenue</p>
                <p>最喜欢的一个商场啦 衣服真的很漂亮也很贵</p>
            </a>
        </div>
        <div class="col-xs-6 col-md-4 mode">
        	<a href="#">
            	<img src="images/market/7.png" />
                <p>诺兹特洛姆百货公司</p>
                <p>Nordstrom(Market Street</p>
                <p>美国高端的百货连锁商场，比较高大上。</p>
            </a>
        </div>
        <div class="col-xs-6 col-md-4 mode">
        	<a href="#">
            	<img src="images/market/8.png" />
                <p>内曼·马库斯百货公司</p>
                <p>Neiman Marcus</p>
                <p>从正门进去以后迎面而来就是美丽的大堂,主要出售一些化妆品和饰品。</p>
            </a>
        </div>
        <div class="col-xs-6 col-md-4 mode">
        	<a href="#">
            	<img src="images/market/9.png" />
                <p>内河码头</p>
                <p>Embarcadero Center</p>
                <p>这座大型购物中心，涵盖了零售、餐饮、娱乐以及电影院等设施</p>
            </a>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="widget">
                    <h2>范米粒 FNMILI</h2>
                    <a href="#">
                    	<img src="images/qrcode/qrcode_qq.png" />
                        <p>范米粒QQ群</p>
                    </a>
                    <a href="#">
                    	<img src="images/qrcode/qrcode_weibo.png" />
                        <p>范米粒微博</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
            	<div class="row">
                	<div class="col-md-3 col-sm-6 col-xs-6">
                        <dl>
                            <dt>参与</dt>
                            <dd><a href="#">关注我们的微博</a></dd>
                            <dd><a href="#">加入我们的Q群</a></dd>
                        </dl>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <dl>
                            <dt>常见问题</dt>
                            <dd><a href="#">为什么选择我们</a></dd>
                            <dd><a href="#">我们怎么运作的</a></dd>
                        </dl>
                    </div>
                	<div class="col-md-3 col-sm-6 col-xs-6">
                        <dl>
                            <dt>关于</dt>
                            <dd><a href="#">关于我们</a></dd>
                            <dd><a href="#">关于服务</a></dd>
                            <dd><a href="#">关于收费</a></dd>
                        </dl>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <dl>
                            <dt>收费标准与邮寄</dt>
                            <dd><a href="#">费用</a></dd>
                            <dd><a href="#">支付方式</a></dd>
                            <dd><a href="#">邮寄方式</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
	<div class="container">
    	<div class="row">
        	<div class="col-sm-12">
            	<p>Copyright (c) 2016 范米粒 FNMILI, All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>