<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>估价</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/dotku/dist/css/general-cn.css" rel="stylesheet"/>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <style>
        caption {font-size: 24px; color: #333}
    </style>
  </head>
  <body>
    <div class="container">
      <h1>估价</h1>
      <p>以下估价，由于产品可能会因为优惠等情况产生偏差，并非最终报价；最终报价以当前成交的价格为准。</p>
      <table class="table">
      
        <caption>Child Life</caption>
        <tr>
            <td class="col-md-6">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="http://placehold.it/100x100" alt="Child Life Liquid Vitamin C">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Child Life Liquid Vitamin C</h4>
                    <span>Orange Flavor, Glass Bottle, 4-Ounce</span>
                  </div>
                </div>
            </td>
            <td class="col-md-6">$6.30 ($1.58 / Fl Oz) &amp; FREE Shipping</td>
        </tr>
        <tr>
            <td class="col-md-6">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="http://placehold.it/100x100" alt="Child Life Liquid Vitamin C">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Child Life Liquid Vitamin C</h4>
                    <span>Orange Flavor, Glass Bottle, 4-Ounce (3PackS)</span>
                  </div>
                </div>
                </td>
            <td class="col-md-6">$17.64 + $2.25 shipping</td>
        </tr>
        <tr>
            <td class="col-md-6">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="http://placehold.it/100x100" alt="Child Life Liquid Vitamin C">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Child Life Pure DHA Soft Gel Capsules</h4>
                    <span>90-Count</span>
                  </div>
                </div>
                </td>
            <td class="col-md-6">$7.39($0.08/Count)</td>
        </tr>
        <tr>
            <td class="col-md-6">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="http://placehold.it/100x100" alt="Child Life Liquid Vitamin C">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Child Life Pure DHA Soft Gel Capsules </h4>
                    <span>(90 x 3)</span>
                  </div>
                </div>
                </td>
            <td class="col-md-6">$24.64</td>
        </tr>
        <tr>
            <td class="col-md-6">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="http://placehold.it/100x100" alt="Child Life Liquid Vitamin C">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Child Life Pure DHA Soft Gel Capsules </h4>
                    <span>(180 Capsules)</span>
                  </div>
                </div>
                </td>
            <td class="col-md-6">$15.80</td>
        </tr>
        </table>
        <table class="table">
            <caption>Dr. Brown's</caption>
            <tr>
                <td class="col-md-6">
                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                          <img class="media-object" src="http://placehold.it/100x100" alt="Child Life Liquid Vitamin C">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">Dr. Brown's BPA Natural Flow Bottle Newborn Feeding Set  </h4>
                        <span>8oz/240ml x 3 <br/> 4oz/120ml x 2</span>
                      </div>
                    </div>
                </td>
                <td class="col-md-6">$17.01</td>
            </tr>
            <tr>
                <td class="col-md-6">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="http://placehold.it/100x100" alt="Child Life Liquid Vitamin C">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Dr. Brown's BPA Free Polypropylene Natural Flow Wide Neck Bottle, 3 Count</h4>
                    <span>8 oz x 3</span>
                  </div>
                </div>
                </td>
                <td class="col-md-6">$12.83</td>
            </tr>
            <tr>
                <td class="col-md-6">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="http://placehold.it/100x100" alt="Child Life Liquid Vitamin C">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Dr. Brown's Glass Bottles - 4 oz - 2 Pk</h4>
                    <span>4 oz x 2</span>
                  </div>
                </div>
                </td>
                <td class="col-md-6">$13.91</td>
            </tr>
        </table>
        (* Dr. Brown's 的奶瓶都是 2 个起的，没有单卖，有不同的大小，从 4oz ~ 8oz 不等；除了奶瓶还有洗具和奶嘴等产品销售。)
       <table class="table">
        <caption>Vans</caption>
        <tr>
            <td class="col-md-6">
            <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="http://placehold.it/100x100" alt="Child Life Liquid Vitamin C">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Canvas SK8-Hi</h4>
                  </div>
                </div>
            </td>
            <td class="col-md-6">$60</td>
        </tr>
       </table>
        <table class="table">
            <caption>Ecco</caption>
        <tr>
            <td class="col-md-6">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="http://placehold.it/100x100" alt="Child Life Liquid Vitamin C">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Women's Soft 7</h4>
                  </div>
                </div>
             </td>
            <td class="col-md-6">$150</td>
        </tr>
        </table>
    </div>
  </body>
</html>
