<?php 
  $q = $_GET['q'] ? $_GET['q'] : '';
?>
<header class="clearfix header" ng-controller="headerCtrl">
  <div class="col-md-3 col-xs-6">
    <h1><?php echo C('SITE_TITLE');?></h1>
  </div>
  
  <div class="search-bar col-md-6 col-xs-6"
    style="display:flex; align-items: center;justify-content: center; height:69px">
    
    <form action="<?php echo U('/search'); ?>">
    <div class="input-group">
      
      <input type="text" class="form-control" name="q" placeholder="产品名称、收据编号、快递编号"
        value="<?php echo $q; ?>">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">搜索</button>
      </span>
      
    </div><!-- /input-group -->
    </form>

  </div>
  
  <div class="col-md-3 text-right btn-group"
    style="display:flex; align-items: center;justify-content: center; height:69px">
      <a href="<?php echo U('/cart'); ?>" class="btn btn-info btn-lg" type="button">
        购物车 <span class="badge" id="cart-num"
        ng-bind="totalNum || 0"></span>
      </a>

      <a href="<?php echo U('/Profile'); ?>" class="btn btn-primary btn-lg" type="button">
        <i class="glyphicon glyphicon-user"></i>
      </a>
  </div>

</header><!-- header -->

