<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>2014 品牌排行榜</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/dotku/dist/css/general-cn.css" rel="stylesheet"/>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>2014 品牌排行榜</h1>
        <p>公司名称、分类、品牌价值(亿美元)。</p>
        <ol>
            <li>Apple 苹果 科技 1188.63</li>
            <li>Google 谷歌 科技 1074.39</li>
            <li>Coca-Cola 可口可乐 饮料 815.63</li>
            <li>IBM 国际商用机器 商业服务 722.44</li>
            <li>Microsoft 微软 科技 611.54</li>
            <li>GE 通用电气 多元化 454.80</li>
            <li>Samsung 三星 科技 454.62</li>
            <li>Toyota 丰田 汽车 423.92</li>
            <li>McDonald 麦当劳 餐厅 422.54</li>
            <li>Mercedes-Benz 梅赛德斯奔驰 汽车 343.38</li>
            <li>BMW 宝马 汽车 342.14</li>
            <li>Intel 英特尔 科技 341.53</li>
            <li>Disney 迪士尼 媒体 322.23</li>
            <li>Cisco 思科 科技 309.36</li>
            <li>Amazon 亚马逊 零售 294.78</li>
            <li>Oracle 甲骨文 科技 259.80</li>
            <li>HP 惠普 科技 237.58</li>
            <li>Gillette 吉列 快速消费品 228.45</li>
            <li>Louis Vuitton 路易威登 奢侈品225.52</li>
            <li>Honda 本田 汽车 216.73</li>
            <li>H&amp;M 服装 210.83</li>
            <li>Nike 耐克 体育用品 198.75</li>
            <li>American Express 美国运通 金融服务 195.10</li>
            <li>Pepsi 百事可乐 饮料 191.19</li>
            <li>SAP 思爱普 科技 173.40</li>
            <li>IKEA 宜家 零售 158.85</li>
            <li>UPS 联合包裹 交通运输 144.70</li>
            <li>eBay 零售 143.58</li>
            <li>Facebook 科技 143.49</li>
            <li>Pampers 帮宝适 快速消费品 140.78</li>
            <li>Volkswagen 大众 汽车 137.16</li>
            <li>Kellogg 家乐氏 快速消费品 134.42</li>
            <li>HSBC 汇丰 金融服务 131.42</li>
            <li>Budweiser 百威 酒类 130.24</li>
            <li>J.P. Morgan J.P.摩根 金融服务 124.56</li>
            <li>Zara 服装 121.26</li>
            <li>Canon 电子 117.02</li>
            <li>Nescafe 雀巢咖啡 饮料 114.06</li>
            <li>Ford 福特 汽车 108.76</li>
            <li>Hyundai 现代 汽车 104.09</li>
            <li>Gucci 古驰 奢侈品 103.85</li>
            <li>Philips 飞利浦 电子 102.64</li>
            <li>L’oreal 欧莱雅 快速消费品 101.62</li>
            <li>Accenture 埃森哲 商业服务 98.82</li>
            <li>Audi 奥迪 汽车 98.31</li>
            <li>Hermes 爱马仕 奢侈品 89.77</li>
            <li>Goldman Sachs 高盛 金融服务 87.58</li>
            <li>Citi 花旗 金融服务 87.37</li>
            <li>Siemens 西门子 多元化 86.72</li>
            <li>Colgate 高露洁 快速消费品 82.15</li>
            <li>Danone 达能 快速消费品 82.05</li>
            <li>Sony 索尼 电子 81.33</li>
            <li>AXA 安盛 金融服务 81.20</li>
            <li>Nestle 雀巢 快速消费品 80.00</li>
            <li>Allianz 安联 金融服务 77.02</li>
            <li>Nissan 日产(尼桑)汽车 76.23</li>
            <li>Thomson Reuters 汤森路透 媒体 74.72</li>
            <li>Cartier 卡地亚 奢侈品 74.49</li>
            <li>adidas 阿迪达斯 体育用品 73.78</li>
            <li>Porsche 保时捷 汽车 71.71</li>
            <li>Caterpillar 卡特彼勒 多元化 68.12</li>
            <li>Xerox 施乐 商业服务 66.41</li>
            <li>Morgan Stanley 摩根士丹利 金融服务 63.34</li>
            <li>Panasonic 松下 电子 63.03</li>
            <li>Shell 壳牌 能源 62.88</li>
            <li>3M 多元化 61.77</li>
            <li>Discovery 探索 媒体 61.43</li>
            <li>KFC 肯德基 餐厅 60.59</li>
            <li>Visa 维萨 金融服务 59.98</li>
            <li>Prada 普拉达 奢侈品 59.77</li>
            <li>Tiffany &amp; Co. 蒂芙尼 奢侈品 59.36</li>
            <li>Sprite 雪碧 饮料 56.46</li>
            <li>Burberry 博柏利 奢侈品 55.94</li>
            <li>Kia 起亚 汽车 53.96</li>
            <li>Santander 桑坦德 金融服务 53.82</li>
            <li>Starbucks 星巴克 餐厅 53.82</li>
            <li>Adobe 科技 53.33</li>
            <li>Johnson &amp; Johnson 强生 快速消费品 51.94</li>
            <li>John Deere 约翰迪尔 多元化 51.24</li>
            <li>MTV 媒体 51.02</li>
            <li>DHL 敦豪 交通运输 50.84</li>
            <li>Chevrolet 雪佛兰 汽车 50.36</li>
            <li>Ralph Lauren 拉尔夫劳伦 服装 49.79</li>
            <li>Duracell 金霸王 快速消费品 49.35</li>
            <li>Jack Daniel's 杰克丹尼 酒类 48.84</li>
            <li>Johnnie Walker 尊尼获加 酒类 48.42</li>
            <li>Harley-Davidson 哈雷戴维森 汽车 47.72</li>
            <li>MasterCard 万事达卡 金融服务 47.58</li>
            <li>Kleenex 舒洁 快速消费品 46.43</li>
            <li>Smirnoff 斯米诺(皇冠伏特加) 酒类 46.09</li>
            <li>Land Rover 路虎 汽车 44.73</li>
            <li>FedEx 联邦快递 交通运输 44.14</li>
            <li>Corona 科罗娜 酒类 43.87</li>
            <li>Huawei 华为 科技 43.13</li>
            <li>Heineken 喜力 酒类 42.21</li>
            <li>Pizza Hut 必胜客 餐厅 41.96</li>
            <li>Hugo Boss 服装 41.43</li>
            <li>Nokia 诺基亚 科技 41.38</li>
            <li>Gap 服装 41.22</li>
            <li>Nintendo 任天堂 电子 41.03</li>
         </ol>
         via http://money.163.com/14/1012/18/A8CHBJPO00254A65.html
         <footer class="footer">
            &copy; 2016 范米粒(fnmili.com)
         </footer>
    </div>
  </body>
</html>
