<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>范米粒发展计划 - 范米粒(Fnmili.com)</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/dotku/dist/css/general-cn.css" rel="stylesheet"/>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <style>
        th {background-color: #eee}
    </style>
  </head>
  <body>
    <div class="container">
      <h1>范米粒发展计划</h1>
      <p>范米粒是兼职项目，没有固定的时间轴，不过还是有一些计划要完成的。</p>
      <h2>计划</h2>
      <div class="panel panel-default">
          <table class="table table-bordered">
            <tr>
                <th>计划</th>
                <th>状态</th>
            </tr>
            <tr>
                <td>首页重新设计</td>
                <td>制作阶段</td>
            </tr>
            <tr>
                <td>图片存储服务</td>
                <td>试验成功，待产品化</td>
            </tr>
            <tr>
                <td>微博整合</td>
                <td>试验成功，待产品化</td>
            </tr>
          </table>
      </div>
    </div>
  </body>
</html>
